[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FrailtyCompRisk"]
	path = FrailtyCompRisk
	url = https://github.com/teamheka/frailtycomprisk
